* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Inter", sans-serif;
}

/* Utilities */
:root {
  --pure-white: #ffffff;
  --base-white: #d0d5dd;
  --dark-gray: #3a404e;
  --medium-gray: #667085;
  --light-gray: #98a2b3;
  --border-gray: #EAECF0;
  --black: #101828;
  --red-color: #8e2424;
  --red-color-faded: rgba(143, 36, 36, 5%);
}

.base-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--pure-white);
  background-color: var(--red-color);
  padding: 0.6rem 1.12rem;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}

a {
  cursor: pointer;
}

.title-red {
  color: var(--red-color);
  font-weight: 600;
}

/* Body */
body {
  width: 100%;
  height: 100vh;
}

/* Menu navigation */
nav {
  width: 100%;
  padding: 1rem 0;
}

.text-a-base {
  color: var(--medium-gray);
  font-weight: medium;
  transition: 0.4s ease-in-out;
}

.text-a-base:hover {
  color: var(--red-color);
}

#nav-itens {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

#logo-title {
  color: var(--dark-gray);
  font-size: 1.125rem;
  font-weight: medium;
}

#nav-menu {
  display: flex;
  margin: 0 15rem 0 1rem;
}

.menu-itens {
  display: flex;
  align-items: center;
  margin: 1.5rem;
}

.menu-itens-a {
  margin: 0 1em;
}

#nav-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2rem;
  padding: 10px 18px;
  justify-content: space-between;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Section About Us */
#aboutUs {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  margin: 8rem;
}

#aboutUs-title {
  font-weight: 600;
  font-size: 3rem;
  color: var(--black);
  margin-bottom: 1rem;
}

#aboutUs-text {
  font-size: 1.25rem;
  color: var(--medium-gray);
  margin: 0 12rem;
}

/* Section Informations */
#informations {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 6rem 0;
}

.informations-article {
  width: 17.5rem;
  height: 12rem;
}

.article-title {
  color: var(--red-color);
  font-weight: 600;
  font-size: 3.75rem;
}

.article-subtitle {
  margin-top: 1rem;
  color: var(--black);
  font-weight: 500;
  font-size: 1.12rem;
}

.article-text {
  margin-top: 1rem;
  color: var(--medium-gray);
}

/* Section Open Positions */

#open-positions {
  padding-top: 6rem;
  text-align: center;
}

#open-positions-subtitle {
  font-size: 0.75rem;
  width: 8rem;
  margin: auto;
  background-color: var(--red-color-faded);
  border-radius: 16px;
  padding: 0.25rem 0.75rem;
  margin-bottom: 1rem;
}

#open-positions-title {
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

#open-positions-text {
  font-size: 1.25rem;
}

#photo {
  width: 80%;
  height: auto;
  margin-top: 4rem;
}

.job-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.job-area {
  width: 60%;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 4rem 0 2rem;
}

.job-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem 1.5rem 1.75rem;
  margin: 0 0 1.5rem;
  border: 1px solid var(--border-gray);
  border-radius: 16px;
}

.job-name {
  color: var(--black);
  font-size: 1.1rem;
  font-weight: 500;
}

.job-infos {
  display: flex;
  gap: 2rem;
  color: var(--medium-gray);
}

/* Section Depositions */
.depositions {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  background-color: var(--red-color-faded);
  border-radius: 16px;
  margin: 6rem;
}

.deposition-text {
  width: 80%;
  color: var(--black);
  font-size: 2.25rem;
  font-weight: 500;
  text-align: center;
  margin: 1rem 0 2rem;
}

.person-avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.person-name {
  font-size: 1.1rem;
  font-variant: var(--black);
  font-weight: 500;
}

.person-job {
  padding-top: 0.25rem;
  font-size: 0.9rem;
  color: var(--medium-gray);
}

/* Footer */
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 6rem 18rem;
  background-color: #F9FAFB;
}

.footer-title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--black);
}

.footer-text {
  font-size: 1.25rem;
  color: var(--medium-gray);
}

.email-form {
  display: flex;
  gap: 1rem;
}

.email-input {
  width: 22rem;
  border-radius: 8px;
  padding: 1rem;
  border: 1px solid var(--border-gray);
  border-radius: 8px;
  outline: none;
  color: var(--medium-gray);
}

.email-input::placeholder {
  color: var(--medium-gray);
}

.footer-reserved-rights {
  color: var(--light-gray);
  margin-top: 2rem;
}